.list-item {
    display: flex;
    padding: 20px 10px;
    justify-content: space-between;
    position: relative;
    border-bottom: 1px solid #d9d9d9;

    &__title {
        width: 64%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    &__comments {
        background: #313464;
        border-radius: 100%;
        height: 40px;
        width: 40px;
        border: 0;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__delete-button {
        position: absolute;
        right: 0;
        top: -1px;
        height: calc(100% + 2px);
        border: 0;
        border-bottom: 1px solid #d4145a;
        display: none;
        width: 35%;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        background: #d4145a;
        color: #fff;
        font-size: 1rem;
        font-family: inherit;

        &.swiped {
            display: flex;
        }
    }

    &:hover {
        .list-item__delete-button {
            @media screen and (min-width: 520px){
                display: flex;
            }
        }
    }

    a {
        text-decoration: none;
        color: #2b2f3e;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
