.sayer__header {
    background: #0F1E3B;
    color: #fff;
    padding: 25px 20px;
    font-size: 1rem;
    font-weight: 700;
}

.sayer__title {
    margin-bottom: 0;
    margin-top: 0;
}

.sayer__subtitle {
    font-size: 0.7rem;
    font-weight: 300;
}
